@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to Evolent Health Demo</h2>
    <hr />
    <p>This demo is created by using <b>ASP.NET Core MVC</b>. Click on the <b>Contact</b> menu to check the functionality.</p>
</div>
